<h1>Eat some burgers</h1>

<h2>Choose a burger to eat</h2>

<ul class='burgerText'>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block eaten=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Users have eaten these burgers</h2>

<ul class='burgerText'>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block eaten=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group burgerText">
    <label for="burgName">Burger Name:</label>
    <input type="text" id="burgName" name="name">
  </div>

  <button class='submitBtn' type="submit">Add!</button>
</form>
