body{
    background-image: url('../images/light-veneer.png');
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}
#burgName{
    width: 15%;
}
h1{
    color: #ff3d00;
}
h2{
    color: #ff5722
}
.burgerText{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2em;
    line-height: 1.6;
    color: #00695c;
}
button{
    font-family: 'Nanum Myeongjo', serif;
    border-radius: 30%;
}
.submitBtn{
    font-size: 3em;
}
.eat-burger{
    margin: 5px 5px 5px 5px;
}